<dl class="col-xs-12 col-sm-12 col-md-offset-1 col-md-7">
	<dt><strong><h4>title:<%= @question.title %></h4></strong></dt>
	<dt>level: <%= @question.question_level.round %></dt>
	<%= image_tag @question.image_url , size: "400x300", style: "margin-bottom: 20px;" if @question.image? %>
	<dt>Question Statement</dt>
	<dd><%== markdown(@question.content) %></dd>
	<dt>Input</dt>
	<dd><%== markdown(@question.input_text) %></dd>
	<dt>Ouput</dt>
	<dd><%== markdown(@question.output_text) %></dd>
	<dt>Sample Input</dt>
	<dd><%== markdown(@question.sample_input) %></dd>
	<dt>Sample Output</dt>
	<dd><%= markdown(@question.sample_output).html_safe %></dd>
	<dd><%= link_to 'input download', download_input_question_path(@question),class: "btn btn-default" %></dd>
	<% if @path.is('questions#show') %>
	<dd><%= link_to('submission', {controller: 'judge_systems', action: action, question_id: @question.id}, class: "btn btn-primary", style: "color: white") %></dd>
	<% else %>
	<dd><%= link_to('submission', {controller: 'judge_systems', action: action, question_id: @question.id, contest_id: @contest.id }, class: "btn btn-primary", style: "color: white") %></dd>
	<% end %>
</dl>
<script>
	MathJax.Hub.Typeset();
</script>