<dl>
	<dt><strong><h4>title:<%= @question.title %></h4></strong></dt>
	<dt>level: <%= @question.question_level.round %></dt>
	<%= image_tag @question.image_url , size: "400x300", style: "margin-bottom: 20px;" if @question.image? %>
	<dt>Question Statement</dt>
	<dd><%== markdown(@question.content) %></dd>
	<dt>Input</dt>
	<dd><%== markdown(@question.input_text) %></dd>
	<dt>Ouput</dt>
	<dd><%== markdown(@question.output_text) %></dd>
	<dt>Sample Input</dt>
	<dd><%== markdown(@question.sample_input) %></dd>
	<dt>Sample Output</dt>
	<dd><%== markdown(@question.sample_output) %></dd>
</dl>
<script>
	MathJax.Hub.Typeset();
</script>

<% if current_user == @question.created_user %>
<%= link_to "Edit",edit_question_path(@question), class: 'btn btn-default btn-lg' %>
<%= link_to "Delete",
question_path(@question),
method: 'delete',
data: { confirm:  "一度削除した問題のデータは復元できません。\n本当に削除しますか？" },
class: 'btn btn-danger btn-lg' %>
<% end %>
