<%- model_class = Question -%>
<% provide(:title, "Question List") %>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:created_by) %></th>
      <th><%= model_class.human_attribute_name(:accepted_by) %></th>
      <th>level</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%=  question.id %></td>
        <td><%= question.title %></td>
        <td><%= question.created_user.name %></td>
        <td><%= question.users.length %></td>
         <td><%= question.question_level.to_i %></td>
        <td><%=link_to "詳細",question, :class => 'btn btn-primary'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_question_path,
            :class => 'btn btn-primary' %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              main_menu_path, :class => 'btn btn-default'  %>