<% provide(:title, "Question List") %>

<%= form_tag search_result_path, method: 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", title: nil, class: 'btn btn-primary' %>
</p>
<% end %>


<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_1" data-toggle="tab" href="#tab_1" role="tab">level 1</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_2" data-toggle="tab" href="#tab_2" role="tab">level 2</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_3" data-toggle="tab" href="#tab_3" role="tab">level 3</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_4" data-toggle="tab" href="#tab_4" role="tab">level 4</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_5" data-toggle="tab" href="#tab_5" role="tab">level 5</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1" role="tabpanel">
      <%= render partial: 'list', locals: { questions: @level1_questions, level_page: :level1_page } %>
    </div>
    <div class="tab-pane" id="tab_2" role="tabpanel">
      <%= render partial: 'list', locals: { questions: @level2_questions, level_page: :level2_page } %>
    </div>
    
    <div class="tab-pane" id="tab_3" role="tabpanel">
      <%= render partial: 'list', locals: { questions: @level3_questions, level_page: :level3_page } %>
    </div>


    <div class="tab-pane" id="tab_4" role="tabpanel">
      <%= render partial: 'list', locals: { questions: @level4_questions, level_page: :level4_page } %>
    </div>


    <div class="tab-pane" id="tab_5" role="tabpanel">
      <%= render partial: 'list', locals: { questions: @level5_questions, level_page: :level5_page } %>
    </div>

  </div>
</div>