<h2 class="text-center">Contest List</h2>
<div class="row">
	<div class="col-sm-12  col-md-10 col-md-offset-1">
		<table class="table table-borderd">
			<thead>
				<tr>
					<th>title</th>
					<th>start time</th>
					<th>end time</th>
					<th> created </th>
				</tr>
			</thead>
			<tbody>
				<% @contests.each do |contest| %>
				<tr>
					<td><%= link_to contest.title, contest %></td>
					<td><%= contest.start_time %></td>
					<td><%= contest.finish_time %></td>
					<td><%= link_to contest.created_user.name, contest.created_user  %></td>
				</tr>
				<% end %>
			</tbody>
		</table>  
		<%= paginate @contests, param_name: :contest_page, remote: true  %>
	</div>
</div>