<% if Time.now >= @contest.start_time && Time.now < @contest.finish_time && @contest.users.include?(current_user) || Time.now >= @contest.finish_time  %>
<h2 class="text-center">Problem List</h2>
<div class="row">
	<div class="col-sm-12  col-md-10 col-md-offset-1">
	<%= render 'questions/list', questions: @questions %>
	</div>
</div>

<% elsif Time.now < @contest.finish_time %>
<div id="join_form">
	<div class="jumbotron text-center">
		<h1><%= @contest.title %></h1>
		<p><%=simple_format(hbr(@contest.description)) %></p>
		<% if @contest.created_user != current_user %>
		<% if @contest.users.include?(current_user) %>
		<%= "you are joining" %>
		<% else %>
		<%= render partial: 'join' %>
		<% end %>
		<% end %>
	</div>
</div>
<% end %>
