<% if @contest.users.include?(current_user) %>
<tr style="background-color:#98fb98;">
	<td><%= @current_join.rank %></td>
	<td><%= link_to current_user.name, current_user %></td>

	<% if @question1 %>
	<% if @current_join.level1_solve_time %>
	<td><%= solve_time @current_join.level1_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<% if @questoin2 %>
	<% if @current_join.level2_solve_time %>
	<td><%= solve_time @current_join.level2_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<% if @questoin3 %>
	<% if @current_join.level3_solve_time %>
	<td><%= solve_time @current_join.level3_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<% if @question4 %>
	<% if @current_join.level4_solve_time %>
	<td><%= solve_time @current_join.level4_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<% if @question5 %>
	<% if @current_join.level5_solve_time %>
	<td><%= solve_time @current_join.level5_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<td><%= @current_join.score %></td>
</tr>
<% end %>

<% @joins.each do |join| %>
<% user = join.user %>
<tr>
	<td><%= join.rank %></td>
	<td><%= link_to user.name, user %></td>

	<% if @question1 %>
	<% if join.level1_solve_time %>
	<td><%= solve_time join.level1_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<% if @questoin2 %>
	<% if join.level2_solve_time %>
	<td><%= solve_time join.level2_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<% if @questoin3 %>
	<% if join.level3_solve_time %>
	<td><%= solve_time join.level3_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<% if @question4 %>
	<% if join.level4_solve_time %>
	<td><%= solve_time join.level4_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<% end %>

	<%# if @question5 %>
	<% if join.level5_solve_time %>
	<td><%= solve_time join.level5_solve_time %></td>
	<% else %>
	<td>-----</td>
	<% end %>
	<%# end %>

	<td><%= join.score %></td>
</tr>

<% end %>