<table class="table table-borderd">
	<thead>
		<tr>
			<th><%= :title%></th>
			<th><%= :submitted_at%></th>
			<th><%= :result %></th>
		</tr>
	</thead>

	<tbody>
		<% @records.each do |record| %>
		<% next unless @records.question.for_contest == 0 %>
		<tr>
			<td><%=link_to record.question.title, record.question %></td>
			<td><%= record.created_at %></td>
			<td><%= record.result %></td>
		</tr>
		<% end %>
	</tbody>
</table> 
<%= paginate @records , param_name: :records_page, remote: true %>
