<% provide(:title, "User Profile") %>
<dl class="dl-horizontal">
  <dt><strong><%= :name %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= :account %>:</strong></dt>
  <dd><%= @user.account %></dd>
  <dt><strong><%= "作成した問題数" %>:</strong></dt>
  <dd><%= @user.create_questions.length%></dd>
  <dt><strong><%= "正答した問題数" %>:</strong></dt>
  <dd><%= @user.solved_question_number %></dd>
</dl>
<% unless current_user == @user %>
<div id="follow_form" style="margin-left: 70px; ">
  <% if current_user.following?(@user) %>
  <%= render partial: 'unfollow' %>
  <% else %>
  <%= render partial: 'follow' %>
  <% end %>
</div>
<% else %>
<div style="margin-left:70px">
<%= link_to "Edit", edit_user_path(@user), class: 'btn btn-default btn-lg' %>

    <%= link_to "Destroy", user_path(@user), method: 'delete', data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
    class: 'btn btn-danger btn-lg' %>
    </div>
<% end %>

  <div class="pull-left">
    <h2 class="text-center">Created Questions</h2>
    <div id="create_questions" class="list center-block">
      <%= render partial: 'question_list', locals: { questions: @create_questions, level_page:  
        :create_questions_page } %>
      </div>
    </div>

    <div class="pull-left">
      <h2 class="text-center">Solved Questions</h2>
      <div  id="solve_questions" class="list center-block">
        <%= render partial: 'question_list', locals: { questions: @solve_questions, level_page:  
          :solve_questions_page } %>
        </div>
      </div>

    <div style="margin-top: 400px;">
      <h2 class="text-center">Logs</h2>
      <div  id="records" class="center-block" style="width: 800px;">
        <%= render partial: 'log_list' %>
      </div>
    </div>