
<%= form_for @inquiry, :url => inquiries_confirm_path do |f| %>
<div class="page-header">
  <div class="row">
    <h1 class="text-center">お問い合わせ</h1>
  </div>
</div>
<% if @inquiry.errors.any? %>
<div class="alert alert-danger" role="alert">
  <strong class=" col-md-offset-1">入力内容にエラーがあります</strong>
</div>
<% end %>
<div class="row">
  <table class="table col-xs-12 col-sm-12 col-md-11 col-md-offset-1">
    <tr>
      <th>名前<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>メールアドレス<span class="text-danger">（必須）</span></th>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td><%= f.text_area :message, size: "100x10" %></td>
    </tr>
  </table>
</div>
<div class="row">
  <%= f.submit '確認', class: 'btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-offset-4 col-md-4' %>
</div>
<% end %>
