<%= form_for :judge_system, url: contest_submission_path, html: { class: "form-horizontal question" } do |f| %>

<p>問題: <%= @question.title %></p>
<%= f.hidden_field :question_id, value: @question.id %>
<%= f.hidden_field :contest_id, value: @contest_id %>
<div class="form-group">
	<%= f.label "出力を提出", class: 'control-label col-lg-2' %>
	<div class="col-lg-10">
		<%= f.file_field :ans, class: 'form-control' %>
	</div>
	<%=f.error_span(:ans) %>
</div>

<div class="form-group">
	<div class="col-lg-offset-2 col-lg-10">
		<%= f.submit "Submit", class: 'btn btn-primary' %>

		<%= link_to(t('.cancel', default: t("helpers.links.cancel")), {controller: 'questions', action: 'contest_show', id: @question.id, contest_id: @contest_id }, class: "btn btn-default") %>
	</div>
</div>

<% end %>
