<%= form_tag accept_question_path(@question), html: { class: "form-horizontal user" } do %>

<% if @first_time %>
<div class="form-group">
	<%= label_tag "問題レベルを評価してください" %>
	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-warning active">
			<%= radio_button_tag :evaluation, 1, autocomplete: "off" %>1
		</label>
		<label class="btn btn-warning">
			<%= radio_button_tag :evaluation, 2, autocomplete: "off" %>2
		</label>
		<label class="btn btn-warning">
			<%= radio_button_tag :evaluation, 3, autocomplete: "off" %>3
		</label>
		<label class="btn btn-warning">
			<%= radio_button_tag :evaluation, 4, autocomplete: "off" %>4
		</label>
		<label class="btn btn-warning">
			<%= radio_button_tag :evaluation, 5, autocomplete: "off" %>5
		</label>
	</div>
	<%= submit_tag "submit", class: 'btn btn-primary' %>
</div>
<% end %>
<% end %>