<table class="table table-striped">
  <thead>
    <tr>
      <th><%=:name%></th>
      <th><%= :submitted_at%></th>
      <th><%= :result %></th>
    </tr>
  </thead>
  <tbody>
    <% @question.records.order("created_at DESC").each do |record| %>
      <tr>
        <td><%= link_to record.user.name, user_path(record.user) %></td>
        <td><%= record.created_at %></td>
        <td><%= record.result %></td>
      </tr>
    <% end %>
  </tbody>
</table>