<nav class="navbar navbar-fixed-top" style="background-color: #00ada9;">
	<div class="container-fluid">
		<%= link_to image_tag(asset_path("layout/pdc-logo.png"), size: "53x47", class: "img-circle"), home_path, class: " navbar-nav" %>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
			<%= fa_icon("list") + " Manu" %>
		</button>
		<% if user_signed_in? %>
		<div class="collapse navbar-collapse" id="top-nav">
			<div class="nav navbar-nav">
				<%= link_to fa_icon("plus") + " Create Question", new_question_path, class: "navbar-brand" %>
				<%= link_to fa_icon("file-text-o")+" Question List", questions_path, class: "navbar-brand" %>
			</div>
			<div class="nav navbar-nav">
				<%= link_to fa_icon("plus") + " Create Contest", new_contest_path, class: "navbar-brand" %>
				<%= link_to fa_icon("file-text-o")+" Contest List", contests_path, class: "navbar-brand" %>
			</div>
			<div id="clock" class="nav navbar-nav"></div><%# 時計 %>
			<li class="dropdown nav navbar-nav pull-right">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<%= image_tag user_icon(current_user) , size: "47x47", class: "img-circle"%> 
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to fa_icon("address-card") + " Profile", current_user %></li>
					<li class="divider"></li>
					<li><%= link_to fa_icon("user") + " Follower #{current_user.followers.length}", follower_list_user_path(current_user) %></li>
					<li class="divider"></li>
					<li><%= link_to fa_icon("user-o") + " Following #{current_user.following.length}", following_list_user_path(current_user) %></li>
					<li class="divider"></li>
					<li><%= link_to fa_icon("sign-out") + " Log out", destroy_user_session_path, method: :delete %></li>
				</ul>
			</li> 
			<div class="nav navbar-nav navbar-form pull-right">
				<%= form_tag user_search_result_path, method: 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
				<div class="form-group">
					<%= text_field_tag :search, params[:search], placeholder: "User name",style: "width: 85px;" %>
				</div>         
				<%= submit_tag "Search", name: nil, class: "btn btn-warning" %>
				<% end %>
			</div>
		</div>
		<% else %>
		<div class="collapse navbar-collapse" id="top-nav">
			<div class="nav navbar-nav navbar-right">
				<%= link_to "Sign in", new_user_session_path, class: 'navbar-brand' %>
			</div>
		</div>
		<% end %>
	</div>
</nav>

<script>
	jQuery(
		function($){
			<% if @path.is('contests#show') || @path.is('questions#contest_submission') || @path.is('judge_systems#contest_submit') %>
			<% if @contest.users.include?(current_user) && Time.now >= @contest.start_time && Time.now < @contest.finish_time %>
			$('#clock').flipcountdown({
				size:'md',
				beforeDateTime: '<%= @contest.finish_time.strftime('%m/%d/%Y %H:%M:%S') %>'
			});
			<% else %>
			$('#clock').flipcountdown();
			<% end %>
			<% else %>
			$('#clock').flipcountdown();
			<% end %>
		});
	</script>
