<!DOCTYPE html>
<html>
<head>
	<title>Daisuki Club Online Judge</title>

	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		tex2jax: {
		inlineMath: [ ['$','$'] ],
		processEscapes: true
	}
});
</script>
<%= mathjax_tag %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
<%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="wrapper">
		<div class="container-fluid">
			<% flash.each do |name, msg| %>
			<% next if name == 'timedout' %>
			<div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
				<a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
				<%= msg %>
				<% end %>
			</div>

			<%= yield %>
			<div class="push"></div>


		</div>



		<div class="footer">
			<%= render 'layouts/footer' %>
		</div>
	</body>
	</html>
