<!DOCTYPE html>
<html>
<head>
	<title>Daisuki Club Online Judge</title>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		tex2jax: {
		inlineMath: [ ['$','$'] ],
		processEscapes: true
	}
});
</script>
<meta name="turbolinks-cache-control" content="no-cache">
<%= mathjax_tag %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
<%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="wrapper">
		<div class="container-fluid">
			<% flash.each do |name, msg| %>
			<% next if name == 'timedout' %>
			<div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
				<a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
				<%= msg %>
				<% end %>
			</div>
			<%= yield %>
			<div class="push"></div>
		</div>
		<div class="footer">
			<%= render 'layouts/footer' %>
		</div>

		
		<% if (@path.is('contests#show') || @path.is('questions#contest_show') || @path.is('judge_systems#contest_submit')) && @contest.finish_time > Time.now %>
		<%= render 'layouts/modal' %>
		<script>
			jQuery(function($){
				setInterval(function(){
					var now_hour = new Date().getTime();
					if ( now_hour - <%= @contest.start_time.to_i * 1000 %> <= 1000 && now_hour - <%= @contest.start_time.to_i * 1000 %> >= 0 ){
						$('#start_pop').modal();
						$('#start_button').click(function(){
							location.reload();
						});
					} else if ( now_hour - <%= @contest.finish_time.to_i * 1000 %> <= 1000 && now_hour - <%= @contest.finish_time.to_i * 1000 %> >= 0 ) {
						$('#end_pop').modal();
						$('#end_button').click(function(){
							location.reload();
						});
					}
				},1000);
			});
		</script>
		<% end %>
		
	</body>
	</html>
