<!DOCTYPE html>
<html>
<head>
  <title>OnlineJudgeApp</title>
  <%= csrf_meta_tags %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [ ['$','$'] ],
       processEscapes: true
     }
    });
</script>
  <%= mathjax_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>
</html>
